# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-maven

name: Maven Build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  release:
    types:
      - published
  workflow_dispatch:

permissions:
  contents: write

concurrency:
  group: maven-${{ github.head_ref || github.ref }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

jobs:

  build-jar:

    name: jar / ${{ matrix.os }} / ${{ matrix.jdk-version }}
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        jdk-version: [ 25 ]
        os:
          - ubuntu-24.04
          - windows-2025
          - macos-15-intel # Intel OSX
          - macos-14 # ARM64 OSX

    steps:

      - uses: actions/checkout@v5
        with:
          persist-credentials: "false"

      - name: Set Up JDK ${{ matrix.jdk-version }}
        uses: actions/setup-java@v5
        with:
          java-version: ${{ matrix.jdk-version }}
          distribution: 'zulu'

      - name: Cache Maven repository
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-${{ runner.arch }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-${{ runner.arch }}-maven-

      - name: Maven Build Jar
        run: ./mvnw -V -B -e -ff -ntp clean package -Passembly

      - name: Upload Jar
        uses: actions/upload-artifact@v5
        continue-on-error: true
        with:
          name: java-${{ matrix.jdk-version }}-${{ runner.os }}-${{ runner.arch }}-jar
          path: target/*-assembly.jar
          retention-days: 10
          if-no-files-found: error
